VITE_APP_TITLE=Sistema Medico Frontend
VITE_API_URL=http://localhost:8000
VITE_AUTH_LOGIN_PATH=/api/auth/login
VITE_AUTH_ME_PATH=/api/auth/me
VITE_AUTH_REFRESH_PATH=/api/auth/refresh
VITE_AUTH_LOGOUT_PATH=/api/auth/logout
VITE_ENABLE_REFRESH=true
